.album-row.experimental .album-name {
  color: #f3e8ff;
}

.album-row.experimental .album-artist {
  color: #d8b4fe;
}

.album-row.experimental .description {
  background: linear-gradient(to bottom right, #7e22ce80, #6d28d980);
  border-color: #9333ea4d;
}
.album-row.experimental .button1 {
  background: linear-gradient(to right, #eab308, #ea580c);
  color: #713f12;
}
.album-row.experimental .spotify-mark {
  background: linear-gradient(to bottom right, #6b21a8ba, #9233eae0);
  border: 2px solid #eab30833;
}
.experimental.loading {
  color: #ebb70b;
}
