.album-row.rock-metal .album-name {
  color: #f1f5f9;
}

.album-row.rock-metal .album-artist {
  color: #cbd5e1;
}

.album-row.rock-metal .description {
  background: linear-gradient(to right, #1e293b80, #33415580);
  border-color: #4755694d;
}
