/*player.css inside rock-metal-theme folder*/
.player.rock-metal {
  background: linear-gradient(to bottom right, #020617, #0f172a, #1e293b);
  --color-cyan-500: #06b6d4;
  --color-cyan-900: #164e63;
}

.player.rock-metal .playback-control.shuffle-on {
  color: var(--color-cyan-500);
}
.player.rock-metal .playback-control.shuffle-off {
  color: white;
}

.player.rock-metal .playback-control.play-on {
  color: var(--color-cyan-500);
}
.player.rock-metal .playback-control.play-off {
  color: white;
}

.player.rock-metal .playback-control.loop-off {
  color: white;
}
.player.rock-metal .playback-control.loop-context {
  color: var(--color-cyan-500);
}
.player.rock-metal .playback-control.loop-track {
  color: var(--color-cyan-900);
}
