.album-row.cozy .album-name {
  color: #fef3c7;
}

.album-row.cozy .album-artist {
  color: #fcd34d;
}

.album-row.cozy .description {
  background: linear-gradient(to bottom right, #78350f66, #92400e66);
  border-color: #7c2d1233;
}
