.main-album-row.cozy {
  --color1: rgb(120, 80, 61);
  --color2: rgb(102, 65, 47);
  --color2t: rgba(102, 65, 47, 0.534);
  --color3: rgb(202, 170, 156);
  --color4: rgb(32, 19, 12);
}

.album-row.cozy {
  color: var(--color4);
}
.album-row.cozy .description {
  background-color: var(--color2t);
}
