.album-row.cozy .album-name {
  color: #fef3c7;
}

.album-row.cozy .album-artist {
  color: #fcd34d;
}

.album-row.cozy .description {
  background-image: linear-gradient(
    to bottom right,
    rgba(120, 53, 15, 0.4),
    rgba(146, 64, 14, 0.4)
  );
  border-color: rgba(124, 45, 18, 0.2);
}
