/*player.css inside cozy-theme folder*/
.player.cozy {
  background: linear-gradient(to bottom right, #451a03, #78350f, #052e16);
  --color-emerald-500: #10b981;
  --color-emerald-900: #064e3b;
}

.player.cozy .playback-control.shuffle-on {
  color: var(--color-emerald-500);
}
.player.cozy .playback-control.shuffle-off {
  color: white;
}

.player.cozy .playback-control.play-on {
  color: var(--color-emerald-500);
}
.player.cozy .playback-control.play-off {
  color: white;
}

.player.cozy .playback-control.loop-off {
  color: white;
}
.player.cozy .playback-control.loop-context {
  color: var(--color-emerald-500);
}
.player.cozy .playback-control.loop-track {
  color: var(--color-emerald-900);
}
