.album-row.rock-metal .album-name {
  color: #f1f5f9;
}

.album-row.rock-metal .album-artist {
  color: #cbd5e1;
}

.album-row.rock-metal .description {
  background: linear-gradient(to right, #1e293b80, #33415580);
  border-color: #4755694d;
}
.album-row.rock-metal .button1 {
  background: linear-gradient(to right, #64748b, #0891b2);
  color: #0f172a;
}
.album-row.rock-metal .spotify-mark {
  background: linear-gradient(to bottom right, #155e7580, #33415580);
  border: 2px solid #0891b24d;
}
.rock-metal.loading {
  color: #020617;
}
