.sidebar.rock-metal {
  background: linear-gradient(to bottom, #020617, #0f172a, #1e293b);
  color: #ffffff;
}
.sidebar.rock-metal .sidebar1 {
  background: linear-gradient(to bottom right, #1e293bb2, #334155b2);
  border: 2px solid #47556966;
}

.sidebar.rock-metal .sidebar2a {
  background: linear-gradient(to bottom right, #155e7580, #33415580);
  border: 2px solid #0891b24d;
}

.sidebar.rock-metal .sidebar2b {
  background: linear-gradient(to bottom right, #33415580, #47556980);
  border: 2px solid #4755694d;
}

.sidebar.rock-metal .button1 {
  background: linear-gradient(to right, #64748b, #0891b2);
  color: #0f172a;
}
.sidebar.rock-metal .button1:hover {
  background: linear-gradient(to right, #94a3b8, #06b6d4);
}

.sidebar.rock-metal .button2 {
  background-color: #47556966;
  color: #e2e8f0;
  transition: background-color 0.2s, color 0.2s;
}
.sidebar.rock-metal .button2:hover {
  background-color: #64748b80;
  color: #f1f5f9;
}
.sidebar.rock-metal .icon {
  color: #06b6d4;
}
.sidebar.rock-metal .album-playlist {
  background: linear-gradient(to right, #667284, #06b6d4);
}
.sidebar.rock-metal .album-playlist:hover {
  background: linear-gradient(to bottom right, #28334280, #35404e80);
}
.sidebar.rock-metal .album-playlist2:hover {
  background: linear-gradient(to bottom right, #33415580, #47556980);
}
.sidebar.rock-metal .button3 {
  background: linear-gradient(to right, #64748b, #0891b2);
  color: white;
}
.sidebar.rock-metal .button3:hover {
  background: linear-gradient(to right, #94a3b8, #06b6d4);
}
.sidebar.rock-metal .remove-button {
  background: linear-gradient(to right, #818cf8, #6366f1);
  color: #1e1b4b;
}
.sidebar.rock-metal .play-icon {
  background: linear-gradient(to bottom right, #33415580, #47556980);
  color: #06b6d4;
}
.sidebar.rock-metal .add-button {
  background-color: #0891b2;
  color: white;
}
.sidebar.rock-metal .add-button:hover {
  background-color: #0ea5e9;
  color: white;
}
.sidebar.rock-metal .track-container:hover {
  background: linear-gradient(to bottom right, #33415580, #47556980);
}
