.sidebar.cozy {
  color: white;
  background: linear-gradient(to bottom, #451a03 0%, #5a2d05 50%, #052414 100%);
}
.sidebar.cozy .sidebar1 {
  background: linear-gradient(to bottom right, #78350f99, #92400e99);
  border: 2px solid #78350f4d;
}

.sidebar.cozy .sidebar2a {
  background: linear-gradient(to bottom right, #16653466, #92400e66);
  border: 2px solid #b4530933;
}

.sidebar.cozy .sidebar2b {
  background: linear-gradient(to bottom right, #92400e66, #b4530966);
  border: 2px solid #b4530933;
}

.sidebar.cozy .button1 {
  background: linear-gradient(to right, #16a34a, #15803d);
  color: #052e16;
}
.sidebar.cozy .button1:hover {
  background: linear-gradient(to right, #22c55e, #16a34a);
}

.sidebar.cozy .button2 {
  background-color: #b453094d;
  transition: background-color 0.2s, color 0.2s;
}
.sidebar.cozy .button2:hover {
  background-color: #d9770666;
  color: #fef3c7;
}
.sidebar.cozy .icon {
  color: #10b981;
}
.sidebar.cozy .album-playlist {
  background: linear-gradient(to bottom right, #1cb155, #10b54ffa);
}
.sidebar.cozy .album-playlist:hover {
  background: linear-gradient(to bottom right, #a8531f66, #b3571166);
}
.sidebar.cozy .album-playlist2:hover {
  background: linear-gradient(to bottom right, #a8531f66, #b3571166);
}
.sidebar.cozy .button3 {
  background: linear-gradient(to right, #16a34a, #15803d);
  color: white;
}
.sidebar.cozy .button3:hover {
  background: linear-gradient(to right, #22c55e, #16a34a);
  color: white;
}
.sidebar.cozy .remove-button {
  background: linear-gradient(to right, #fef08a, #fde047);
  color: #64470d;
}
.sidebar.cozy .play-icon {
  background: linear-gradient(to bottom right, #a8531f66, #b3571166);
  color: #10b981;
}
.sidebar.cozy .add-button {
  background-color: #059669;
  color: white;
}
.sidebar.cozy .add-button:hover {
  background-color: #10b981;
  color: white;
}
.sidebar.cozy .track-container:hover {
  background: linear-gradient(to bottom right, #92400e66, #b4530966);
}
