.album-row.cozy .album-name {
  color: #fef3c7;
}

.album-row.cozy .album-artist {
  color: #fcd34d;
}

.album-row.cozy .description {
  background: linear-gradient(to bottom right, #78350f66, #92400e66);
  border-color: #7c2d1233;
}
.album-row.cozy .button1 {
  background: linear-gradient(to right, #16a34a, #15803d);
  color: #052e16;
}
.album-row.cozy .spotify-mark {
  background: linear-gradient(to bottom right, #16653466, #92400e66);
  border: 2px solid #b4530933;
}
