@import "tailwindcss";
:root {
  --color1: rgb(120, 80, 61);
  --color2: rgb(102, 65, 47);
  --color2t: rgba(102, 65, 47, 0.499);
}

.sidebar1 {
  background: linear-gradient(to right, var(--color1), var(--color2));
}
.sidebar2 {
  background-color: var(--color2);
}
.player {
  background-color: var(--color1);
}
.login-button {
  color: black;
}
.album-title {
  color: rgb(28, 15, 9);
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
