.sidebar.experimental {
  background: linear-gradient(to bottom, #2e1065, #4c1d95, #7e22ce);
  color: #ffffff;
}
.sidebar.experimental .sidebar1 {
  background: linear-gradient(to bottom right, #7e22ceb3, #6d28d9b3);
  border: 2px solid #eab30833;
}

.sidebar.experimental .sidebar2a {
  background: linear-gradient(to bottom right, #854d0e4d, #c2410c4d);
  border: 2px solid #ca8a044d;
}

.sidebar.experimental .sidebar2b {
  background: linear-gradient(to bottom right, #854d0e4d, #c2410c4d);
  border: 2px solid #ca8a044d;
}

.sidebar.experimental .button1 {
  background: linear-gradient(to right, #eab308, #ea580c);
  color: #713f12;
}

.sidebar.experimental .button1:hover {
  background: linear-gradient(to right, #facc15, #f97316);
}

.sidebar.experimental .button2 {
  background: #9333ea66;
  color: #e9d5ff;
  transition: background-color 0.2s, color 0.2s;
}
.sidebar.experimental .button2:hover {
  background: #ca8a044d;
}
.sidebar.experimental .icon {
  color: #fde047;
}
