.sidebar.experimental {
  background: linear-gradient(to bottom, #2e1065, #4c1d95, #7e22ce);
  color: #ffffff;
}
.sidebar.experimental .sidebar1 {
  background: linear-gradient(to bottom right, #7e22ceb3, #6d28d9b3);
  border: 2px solid #eab30833;
}

.sidebar.experimental .sidebar2a {
  background: linear-gradient(to bottom right, #854d0e4d, #c2410c4d);
  border: 2px solid #ca8a044d;
}

.sidebar.experimental .sidebar2b {
  background: linear-gradient(to bottom right, #6b21a880, #9333ea80);
  border: 2px solid #eab30833;
}

.sidebar.experimental .button1 {
  background: linear-gradient(to right, #eab308, #ea580c);
  color: #713f12;
}

.sidebar.experimental .button1:hover {
  background: linear-gradient(to right, #facc15, #f97316);
}

.sidebar.experimental .button2 {
  background: #9333ea66;
  color: #e9d5ff;
  transition: background-color 0.2s, color 0.2s;
}
.sidebar.experimental .button2:hover {
  background: #ca8a044d;
}
.sidebar.experimental .icon {
  color: #fde047;
}
.sidebar.experimental .album-playlist {
  background: linear-gradient(to right, #eab308, #ea580c);
}
.sidebar.experimental .album-playlist:hover {
  background: linear-gradient(to bottom right, #300e4ba0, #6523a2c2);
}
.sidebar.experimental .album-playlist2:hover {
  background: linear-gradient(to bottom right, #300e4ba0, #6523a2c2);
}
.sidebar.experimental .button3 {
  background: linear-gradient(to right, #eab308, #ea580c);
  color: white;
}
.sidebar.experimental .button3:hover {
  background: linear-gradient(to right, #facc15, #f97316);
}
.sidebar.experimental .remove-button {
  background: linear-gradient(to right, #f43353, #de143f);
  color: #4c0519;
}
.sidebar.experimental .play-icon {
  background-color: #9333ea80;
  color: #eab308;
}
.sidebar.experimental .add-button {
  background-color: #eab308;
  color: white;
}
.sidebar.experimental .add-button:hover {
  background-color: #facc15;
  color: white;
}
.sidebar.experimental .track-container:hover {
  background: linear-gradient(to bottom right, #300e4ba0, #6523a2c2);
}
